:host ::ng-deep {
  .p-card {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }

  .p-card .p-card-body {
    padding: 2rem;
  }

  .p-card .p-card-header {
    padding: 1.5rem 2rem 0;
  }

  .p-password input {
    width: 100%;
  }
}
